utils/cache/*
**/__pypackages__
*.pak
*.ipynb_checkpoints
*.pyc
**/__pycache__
**/cache/*
progress.*

.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/cv_ranking.iml
spell.h5
tmp.py


